<?xml version="1.0" encoding="UTF-8"?>
<!-- 指定Hibernate配置文件的DTD信息 -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- hibernate- configuration是连接配置文件的根元素 -->
<hibernate-configuration>
    <session-factory>
        <!-- 指定连接数据库所用的驱动 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- 指定连接数据库的url，hibernate连接的数据库名 -->
        <property name="connection.url">jdbc:mysql://8.129.170.99:3306/db_cookies_bot?useUnicode=true&amp;
            characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=GMT</property>
        <!-- 指定连接数据库的用户名 -->
        <property name="connection.username">cookies-bot</property>
        <!-- 指定连接数据库的密码 -->
        <property name="connection.password">cookies-bot.2020</property>

        <!-- 指定数据库方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 根据需要自动创建数据表 -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- 显示Hibernate持久化操作所生成的SQL -->
        <property name="show_sql">true</property>
        <!-- 将SQL脚本进行格式化后再输出 -->
        <property name="hibernate.format_sql">true</property>
        <!-- 罗列所有的映射文件 -->
        <mapping resource="Setu.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Tag.hbm.xml"/>
        <mapping resource="Grade.hbm.xml"/>
    </session-factory>
</hibernate-configuration>